body {
    background-image: url("/assets/images/bg-blue-geo.jpg");
    background-color: white;
    max-width: 1300px;
}

/* Headings  */
h1 {
    font-family: "Six Hands Web Rough";
    font-size: 50px;
}

h2 {
    font-family: "Six Hands Web Rough";
    font-size: 45px;
}

h3 {
    font-family: "Six Hands Web Rough";
    font-size: 40px;
}

h4 {
    font-family: "Six Hands Web Rough";
    font-size: 35px;
}

/* Styles for results including image sizes */

ul li img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }

div.results {
    font-family: 'Six Hands Rough', cursive;
}

div.resultsElement {
    font-family: 'Six Hands Rough', cursive;
}

/* Styling the form */
legend {
    font-family: 'Six Hands Rough', cursive;
}

fieldset {
    background-color: #bdc1d7;
    position: relative;
    max-width: 600px;
}