/* Push footer to bottom of page leaving some whitespace under content */
body {
    min-height: 100vh;
}

/* Hero image and logo */
#hero-image {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-color: cadetblue;
    background: url("../images/SGS-header.jpeg") no-repeat left center;
  } 
  /* logo will float over header image if viewport is < header image width */
#logo {
      height: 50px;
      padding-left: 30px;
      padding-top: 30px;
      padding-bottom: 20px;
      background-position: center;
      position: absolute;
    }

/* Headings */
h1 {
    font-family: "Great Vibes", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Great Vibes", serif;
    font-weight: 300;
    font-style: normal;
}

/* Styling the form */
legend {
    font-family: 'Six Hands Rough', cursive;
    font-weight: 300;
}

fieldset {
    background-color:cornflowerblue;
    position: relative;
    max-width: 500px;
}

footer {
    background-color: #bdc1d7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

/* Styles for results area */
.product-name {
    font-family: "Great Vibes", serif;
    font-size: 45px;
}

.product-price .product-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.product-image {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 40px;
}

